:root {
  --primary-color: #ff6c00;
  --secondary-color: #191c26;
  --text-title: #303030;
  --text-discription: #555555;
  --text-secondary: rgba(157, 164, 189, 0.6);
  --text-discription-slider: #9da4bd;
  --text-title-lighten: #fff;
  --backgroun-master: #f7f7f7;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(71, 74, 255);
}
ul {
  /*display: flex;*/
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  color: var(--text-title-lighten);
}
a:hover {
  color: var(--primary-color);
}
.primary-btn {
  padding: 12px 20px;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
}
.primary-btn .dark {
  color: var(--text-title);
}

.box-btn {
  display: inline-block;
}
.nav-link {
  display: inline-block;
}
.nav-link li {
  display: inline-block;
}
.social-link {
  font-size: 11px;
  line-height: 1.3;
  color: var(--text-title);
}
.section-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--text-title);
}
.section-title.lighten {
  color: var(--text-title-lighten);
}

.subtitle-secondary {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--text-secondary);
}

.hero-discription-slider {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-discription-slider);
}

.subtitle-primary {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--text-title);
}

.section-discription {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-discription);
}
.section-supdiscription {
  font-size: 14px;
  line-height: 1.8;
  color: var(--text-discription);
}
.price-list {
  display: inline-block;
}
.price-item {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-discription-slider);
}
.price-item p,
.price-item span {
  display: inline-block;
}
.number-box {
  display: inline-block;
  background-color: var(--backgroun-master);
  color: var(--text-title);
  margin: 15px;
  width: 170px;
  height: 133px;
}

.number-box p {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3;
  text-align: center;
}
.number-box span {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  text-align: center;
}
.number-box p,
.number-box span {
  display: block;
}
.master-list {
  display: inline-block;
}
.master-card {
  display: inline-block;
  align-self: center;
}
.master-card p {
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}
.master-card span {
  display: block;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: var(--primary-color);
}
.footer-contacts {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-discription-slider);
}
