:root {
  --primary-color: #ff6c00;
  --secondary-color: #191c26;
  --text-title: #303030;
  --text-discription: #555555;
  --text-secondary: rgba(157, 164, 189, 0.6);
  --text-discription-slider: #9da4bd;
  --text-title-lighten: #fff;
  --backgroun-master: #f7f7f7;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
ul {
  /*display: flex;*/
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  color: var(--text-title-lighten);
}
a:hover {
  color: var(--primary-color);
}
@keyframes infinteRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  height: 100vh;
  width: 100%;
  display: flex;
}
.section-box {
  width: 100%;
  padding: 130px 55px;
}
* {
  box-sizing: border-box;
}
/*navbar*/
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 30px 55px 0 55px;
  box-sizing: border-box;
}
.nav-holder {
  display: flex;
  align-items: center;
  height: 56px;
}
.logo-img {
  width: 68px;
  height: 56px;
  fill: rgba(48, 48, 48, 1);
  animation-name: infinteRotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.nav-link {
  display: flex;
}
.nav-link li {
  margin: 0 40px;
}
.phone-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-title-lighten);
}
.primary-btn {
  padding: 12px 20px;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
  color: var(--text-title-lighten);
}
.primary-btn_dark {
  color: var(--text-title);
}

.social-link {
  font-size: 11px;
  line-height: 1.3;
  color: var(--text-title);
}
.sidebar {
  height: 100vh;
  width: 155px;
  background-color: #fff;
}
.slider {
  width: calc(100%);
  background-image: linear-gradient(307deg, rgb(0 0 0 / 21%), rgb(0 0 0 / 59%)),
    url(../images/slider/Slider3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.section-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--text-title);
}
.section-title.lighten {
  color: var(--text-title-lighten);
}

.subtitle-secondary {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--text-secondary);
}

.hero-discription-slider {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-discription-slider);
}
.about-section,
.why-section {
  display: flex;
  justify-content: space-between;
}
.about_image-box {
  display: flex;
  justify-content: space-between;
  width: 48%;
}
.about_image-box img {
  width: 48%;
}
.discription-container {
  width: 48%;
}

.subtitle-primary {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--text-title);
}
.subtitle-primary::before,
.subtitle-secondary::before {
  width: 60px;
  height: 1px;
  content: "";
  display: inline-block;
  background: rgba(48, 48, 48, 1);
  margin-right: 20px;
  vertical-align: middle;
}
.subtitle-secondary::before {
  background: rgba(157, 164, 189, 0.6);
}
.section-discription {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-discription);
}
.section-supdiscription {
  font-size: 14px;
  line-height: 1.8;
  color: var(--text-discription);
}
.price-section {
  background-image: url(../images/img.png);
  background-color: rgba(17, 19, 25, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.price-box {
  display: flex;
}
.price-list {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
}
.price-list:nth-child(odd) {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.price-list:nth-child(even) {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.price-item p,
.price-item span {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-discription-slider);
}
.number-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 48%;
  padding: 0 100px;
}
.number-box {
  background: var(--backgroun-master);
  min-width: 170px;
  width: 48%;
  height: 133px;
  margin-top: 30px;
}
.number-box p,
.number-box span {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3;
  text-align: center;
  color: var(--text-title);
}
.number-box span {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
}

.master-list {
  display: flex;
  justify-content: space-between;
  flex-basis: 300px;
  text-align: center;
}
.masters-section {
  background: #f7f7f7;
}
.master-card {
  display: inline-block;
  align-self: center;
}
.master-card p {
  font-size: 18px;
  line-height: 1.4;
}
.master-card span {
  display: block;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: var(--primary-color);
}
.master-social-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 90px;
  margin-top: 30px;
}
.master-social-link {
  width: 44px;
  height: 44px;
  background: var(--text-title-lighten);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.master-social-link:hover svg,
.master-social-link:focus svg {
  fill: var(--primary-color);
}
.master-social-link svg {
  width: 20px;
  fill: var(--text-title);
}
.barber-section {
}
.barber-image {
  display: flex;
  justify-content: space-between;
}
.galerry-card {
  position: relative;
  overflow: hidden;
}
.gallerry-discription {
  width: 100%;
  height: 360px;
  background-color: rgb(0 0 0 / 75%);
  color: var(--text-title-lighten);
  padding: 20px;
  position: absolute;
  bottom: 100%;
  transition: transform 1s linear;
}
.galerry-card:hover .gallerry-discription {
  transform: translateY(100%);
}
.footer {
  width: 100%;
  min-height: 640px;
  height: auto;
  display: flex;
  background: var(--secondary-color);
  background-image: url(../images/Bg.png);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right, top;
  color: var(--text-secondary);
}
.footer_form,
.footer-contacts {
  width: 50%;
  height: inherit;
}
.contacts-box {
  padding-left: 50px;
}
.contacts-box > adress {
  position: relative;
}
.contacts-box > adress::before,
.contacts-box > a::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 7px;
  left: -40px;
}
.contacts-box > adress::before {
  background-image: url(../images/icons/map-pin.svg);
}
.contacts-box > a {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--text-secondary);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
}
.contacts-box > a:nth-of-type(1)::before {
  background-image: url(../images/icons/phone.svg);
}
.contacts-box > a:nth-of-type(2)::before {
  background-image: url(../images/icons/mail.svg);
}
.footer-contacts {
  color: var(--text-discription-slider);
  padding: 130px 105px 130px 100px;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 125px;
  height: auto;
  background: var(--text-title-lighten);
}
